*{
    box-sizing: border-box;
    max-width: 500px;
    margin: auto;
}
body{
    background-image: url(kepek/hatter.jpg);
    margin: 0;
    padding: 0;
    
}
main{
background-color: rgb(255, 255, 230);
width: 80%;
max-width: 1000px;

}
header{
    opacity: 0,8;
    background-image: url(kepek/fejlec.jpg);
    height: 550px;
    color: red;
    font-weight:bold ;
    font-family: cursive;
    margin-top: 60px;
    text-align: center;



}
nav{
    background-color: red;
    height: 50px;
    display: grid;
    grid-template: 1fr 1fr 1fr;

}
